.rectangle1{
  background-color:rgba(5, 78, 222, 0.7) ;
  height: 80px;
  margin-top: 30px;
}
.heading{
  color: white;
  padding-left: 15px;
}
.logo{
  width: 450px;
  height: 400px;
}
.body{
  /* flex-direction: row; */
  display: flex;
}
.image{
  width: 70%;
  height: 800px;
  margin-left: 50px;
  margin-top: 20px;
}
.textinput{
  margin-left: 90px;
  margin-top: 10px;
  height: 33px;
  border-radius: 20px;
}
.pass{
  margin-top: 20px;
}
.text{
  font-size: 12px;
  margin-top: 15px;
}
.btn{
  background: #5083E8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  margin-top: 70px;
  margin-left: 55px;
}
.header{
  background-color:rgba(5, 78, 222, 0.7) ;
  height: 80px;
  margin-top: 0px;
  display:flex;
  flex-direction: row;
}
.screens{
  margin-left: 50%;
  display:flex;
  flex-direction: row;
}
.dashboard{
  background-color: white;
  height: 25px;
  width: 90px;
  border-radius: 20px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.doctorsForm{
  background-color: white;
  height: 25px;
  width: 100px;
  border-radius: 20px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 25px;
  margin-left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.appt{
  background-color: white;
  height: 25px;
  width: 110px;
  border-radius: 20px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 25px;
  margin-left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.doctor{
  background-color: white;
  height: 25px;
  width: 70px;
  border-radius: 20px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 25px;
  margin-left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.medicalFacilities{
  background-color: white;
  height: 25px;
  width: 130px;
  border-radius: 20px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 25px;
  margin-left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.text2{
  font-size: 36px;
  font-weight: bold;
  margin-left: 55px;
}
.total{
  height: 140px;
  width: 370px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin-left: 200px;
  margin-top: 10px;
}
.totalText{
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
.totals{
  margin-left: 20px;
}
.info{
  display: flex;
}
.doctors-list{
  width: 1400px;
  height: 530px;
  margin-left: 250px;
  margin-top: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.31);
  box-sizing: border-box;
}
.lists{
  display: flex;
}
.name{
  margin-top: 20px;
  margin-left: 20px;
}
.show{
  display: flex;
}
.no{
  width: 40px;
  height: 33px;
  margin-left: 10px;
  background-color: #c4c4c4;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  /* margin-top: 100px; */
}
.no1{
  width: 40px;
  height: 33px;
  margin-left: 10px;
  background-color: #c4c4c4;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  margin-top: 20px;
}
.bar{
  display: flex;
  background-color: #c4c4c4;
  width: 1300px;
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 15px;
  padding-top: 7px;
}
.names{
  display: flex;
  margin-left: 35px;
  margin-top: 7px;
}
.text3{
  margin-top: 40px;
  font-size: smaller;
}
.btn2{
  height: 36px;
  width:150px;
  background-color:rgba(5, 78, 222, 0.7); 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 18px;
  margin-left: 90px;
  color: white;
  padding-left: 15px;
  padding-top: 1px;
}
.appt2{
  width: 1600px;
  height: 650px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  box-sizing: border-box;
  margin-left: 200px;
}
.appt-bar{
  display: flex;
  background-color: #c4c4c4;
  width: 1500px;
  height: 50px;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 15px;
  padding-top: 7px;
}
.remain{
  width: 90px;
  height: 25px;
  background-color: #f61c1c;
  border-radius: 20px;
  margin-left: 100px;
  padding-left: 7px;
}
.cancel{
  width: 90px;
  height: 25px;
  background: rgba(246, 28, 28, 0.6);
  border-radius: 20px;
  margin-left: 100px;
  padding-left: 7px;
}
.payed{
  width: 90px;
  height: 25px;
  background: #1CF631;
  border-radius: 20px;
  margin-left: 100px;
  padding-left: 28px;
}
.complete{
  width: 90px;
  height: 25px;
  background: #C4C4C4;
  border-radius: 20px;
  margin-left: 100px;
  padding-left: 7px;
}
.status{
  margin-left: 120px;
  /* background-color:#3E64FF ; */
  color: gray;
  height: 10px;
  width: 40px;
  border-radius: 20px;
  /* margin-top: 25px; */
  
}
.info2{
  margin-left: 80px;
  margin-top: 15px;
  
}
.di{
  margin-left: 150px;
  margin-top: 55px;
}
.input{
  margin-left: 200px;
}
.block{
  width: 350px;
}
.input2{
  margin-left: 550px;
  margin-top: -265px;
  display: flex;
}
.bio{
  width: 901px;
  height: 50px;
}
.add{
  background-color: #5083E8;
  width: 100px;
  border-radius: 20px;
  margin-left: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  padding-left: 5px;
}
.appt3{
  width: 1400px;
  height: 650px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  box-sizing: border-box;
  margin-left: 200px;
}
.appt-bar2{
  display: flex;
  background-color: #c4c4c4;
  width: 1320px;
  height: 50px;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 15px;
  padding-top: 7px;
}
.input3{
  margin-left: 550px;
  margin-top: -265px;
  
}
.img-holder{
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: 145px;

}
.img{
  width: 150px;
  height: 150px;
  object-fit: cover;
 
}
#input[type="file"] {
	display: none;
}
.label{
  width: 100%;
  margin-top: 1rem;
  
}
.image-upload{
  margin: auto;
  margin-left: 125px;
  width: 200px;
	height: 50px;
  color: white;
  border-radius: 10px;
  background-color: blue;
  text-align: center;
  cursor: pointer;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
margin: auto;
margin-top: 1%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5083E8;
  color: white;
}

#pending{
  background-color: orange;
}
#accepted{
background-color: greenyellow;
}
#formControl{
  display: inline;
}

#page{
  width:100%;
  margin: 0;
  padding: 0;
}

#button {
  background-color: #5083E8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#avail{
  background-color: #1CF631;
}

#booked{
  background-color: #f61c1c;
}

button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.selectID{
  background-color: #3498db;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
