*{
    margin: 0;
    padding: 0;
    font-family: 'Alatsi' sans-serif;
}
input#fname[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input#button[type=submit] {
    width: 70%;
    background-color: #5083E8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0351ec;
  }
  
  #myForm {
    border-radius: 5px;
    width: 1150px;
    margin-left: 810px;
    /* margin-right: auto; */
    margin-top: 1%;
  }